<div class="small-container">

    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Shop</option>
            <option>Short by price</option>
            <option>Short by popularity</option>
            <option>Short by Rating</option>
            <option>Short by Sale</option>
        </select>
    </div>

    <div class="product-admin">
        <div class="product-admin-items" style="font-weight: bold">
            <p href="products_detal.html" class="img">Image</p>
            <h4 class="name" style="font-weight: bold">Name</h4>
            <div class="rating">
                Rating
            </div>
            <p class="price">Price</p>
            <p class="function">Function</p>
        </div>
        {{#each products}}
        <div class="product-admin-items">
            <p class="img"><img src="/img/uploads/{{this._img}}"></p>
            <h4 class="name">{{this._name}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p class="price">${{this._price}}</p>
            <div class="function">
                <a href="/product/edit/{{this._id}}" class="edit"><i class="fa-solid fa-pen-to-square"></i></a>
                <form method="post" action="/product/destroy/{{this._id}}" onsubmit="return confirm('Are you sure you want to delete this?');" class="delete" >
                    <button type="submit" value="Submit"><i class="fa-solid fa-trash"></i></button>
                </form>
                <a href="/product/copy/{{this._id}}"><i class="fa-solid fa-copy"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="page-btn">
        {{#each indexPage}}
        <span><a href="?page={{this}}">{{this}}</a></span>
        {{/each}}
        <span>&#8594;</span>
    </div>
</div>